.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 15em 0;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
}

.portfolio span:nth-of-type(1) {
  color: var(--black);
  font-size: 3rem;
  font-weight: bold;
  font-weight: normal;
}

.portfolio span:nth-of-type(2) {
  color: var(--blue);
  font-size: 3.5rem;
  font-weight: bold;
  font-weight: normal;
  margin-top: 1rem;
}

.portfolio .swiper {
  overflow: visible !important;
  display: flex;
  gap: 4rem;
}

.portfolio-slider {
  margin-top: 4rem;
}

.sliderImg {
  transition: 0.6s;
}

.sliderImg:hover {
  transform: scale(1.03);
  
}

.portfolio img {
  height: 20rem;
  border-radius: 20px;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
} 

.desc {
  text-decoration: none;
}

.desc > h3{
  width: max-content;
  color: black ;
  font-size: 2rem;
  transition: 0.3s;
  margin-top: 3rem;
  font-weight: normal;
}

.desc > h3:hover {
  color: var(--blue) !important;
}

.desc > h4 {
  color: var(--grey);
  width: max-content;
  font-size: 1.5rem;
}

.githubPortfolio {
  color: black;
  transform: scale(3 !important);
}

.githubPortfolio:hover {
  color: rgba(0, 0, 0, 0.664);
}

/* xl */
@media (max-width: 1280px) {
  .portfolio .swiper {
    flex-direction: column;
  }
  .sliderImg:hover {
    transform: scale(1);
  }
}

/* md */
@media (max-width: 768px) {
  .portfolio img {
    height: 14rem;
  }

  .portfolio span:nth-of-type(1) {
    font-size: 2.8rem;
  }

  .portfolio span:nth-of-type(2) {
    font-size: 3rem;
  }

  .desc > h3{
    font-size: 1.8rem;
  }

  .desc > h4{
    font-size: 1.4rem;
  }
}

/* sm */
@media (max-width: 640px) {
  .portfolio span:nth-of-type(1) {
    font-size: 2.6rem;
  }

  .portfolio span:nth-of-type(2) {
    font-size: 2.6rem;
  }

  .portfolio {
    margin: 0 0.7rem;
  }

  .desc > h3{
    font-size: 1.6rem;
  }

  .desc > h4{
    font-size: 1.3rem;
  }
}

/* xs */
@media (max-width: 475px) {
  .portfolio span:nth-of-type(1) {
    font-size: 2.2rem;
  }

  .portfolio span:nth-of-type(2) {
    font-size: 2.2rem;
  }

  .desc > h3{
    font-size: 1.4rem;
  }

  .desc > h4{
    font-size: 1.12rem;
  }

  .sliderImg {
    transform: scale(0.85);
  }
}