#heading {
  display: grid;
  place-content: center;
  text-align: center;
  padding: 30rem 0;
  position: relative;
}

#heading h1 {
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  max-width: min-content;
  font-size: 3.5rem;
  animation: typing1 3s steps(28, end) forwards, blink1 0.7s infinite alternate;
  letter-spacing: .05rem;
}

@keyframes typing1 {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes blink1 {
  0% {
    border-right: 3px solid transparent;
  }

  100% {
    border-right: 3px solid var(--black);
  }
}

#heading h2 {
  font-weight: normal;
  font-size: 2.5rem;
  animation: fadeIn 1.2s ease-in 3s forwards;
  opacity: 0;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.triangleNext {
  transform: rotate(0deg) scale(0.7);
  height: auto;
  opacity: 0;
  animation: fadeTriangle 1s forwards 4s;
}

.triangleNext:hover {
  opacity: 1;
}

@keyframes fadeTriangle {
  100% {
    opacity: 0.6;
  }
}

/* xl */
@media (max-width: 1280px) {
  #heading {
    padding: 25rem 0;
  }
}

/* lg */
@media (max-width: 1024px) {
  #heading {
    padding: 20rem 0;
  }

  .h-name {
    font-size: 2.6rem !important;
  }

  .h-welcome {
    font-size: 2.5rem !important;
  }
}

/* md */
@media (max-width: 768px) {
  #heading {
    padding: 15rem 0;
  }

  .h-name {
    font-size: 2.2rem !important;
  }

  .h-welcome {
    font-size: 2.1rem !important;
  }

  .triangleNext {
    transform: scale(0.7) ;
  }
}

/* sm */
@media (max-width: 640px) {
  #heading {
    padding: 10rem 0;
  }

  .h-name {
    font-size: 1.6rem !important;
    margin: 0 auto !important;
  }

  .h-welcome {
    font-size: 1.5rem !important;
  }

  .triangleNext {
    transform: scale(0.6) ;
  }
}

/* xs */
@media (max-width: 475px) {
  #heading {
    padding: 8rem 0;
  }

  .h-name {
    font-size: 1.2rem !important;
    margin: 0 auto !important;
  }

  .h-welcome {
    font-size: 1.2rem !important;
  }

  .triangleNext {
    transform: scale(0.45);
  }
}
