.contact-form {
  display: flex;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20rem 0;
}

.w-left {
  flex: 1;
}

.left {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1 !important;
}

@keyframes rotate {
  0%, 100% {
    transform: rotate(0);
  }

  15% {
    transform: rotate(3deg);
  }

  30% {
    transform: rotate(-3deg);
  }

  45% {
    transform: rotate(3deg);
  }

  70% {
    transform: rotate(-3deg);
  }
}
@keyframes rotate2 {
  0%, 100% {
    transform: rotate(0);
  }

  15% {
    transform: rotate(3deg);
  }

  30% {
    transform: rotate(-3deg);
  }

  45% {
    transform: rotate(3deg);
  }

  70% {
    transform: rotate(-3deg);
  }
}

.contact1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: var(--blue);
  animation: rotate 1s ease-in-out 0.5s 2 forwards;
  transition: 1s ease;
}

.contact1:hover {
  animation: rotate2 0.5s ease-in-out forwards;
}

.contact2 {
  font-size: 2.7rem;
}

.left span:nth-of-type(2) {
  margin-bottom: 2rem;
}

.f-icons {
  display: flex;
  gap: 3rem;
}

.f-icons > a {
  color: var(--blue);
  transform: scale(1.7);
}

.f-icons > a:hover {
  transform: scale(1.9);
  color: white;
}

.c-email {
  font-size: 2.5rem;
  text-decoration: none;
  color: var(--blue);
  margin-top: 2rem;
}

.c-email:hover {
  transform: scale(1.02);
  color: white;
}

.c-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user {
  height: max(2rem);
  margin: 1rem;
  width: max(20rem);
  border: 2px solid var(--blue) !important;
  border-radius: 8px;
  color: var(--blue);
  padding: .5rem;
  font-size: 1.2rem;
}

textarea{
    height: 7rem !important;
}

.s-button {
  margin-top: 1.5rem;
}

.sentToast {
  font-size: 1.5rem;
  color: var(--blue);
  font-weight: 700;
  margin-top: 1.5rem;
} 

.blur7 {
  position: fixed;
  width: 44rem !important;
  height: 36rem !important;
  border-radius: 50%;
  background: var(--blue);
  filter: blur(400px) !important;
  top: -25rem !important;
  right: -50rem !important;
  z-index: -10 !important;
}

.blur8 {
  position: fixed;
  width: 42rem !important;
  height: 34rem !important;
  border-radius: 50%;
  background: var(--pink);
  filter: blur(400px) !important;
  top: -20rem !important;
  left: -10rem !important;
  z-index: -10 !important;
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
  .contact-form{
    flex-direction: column;
    padding-top: 10rem !important;
  }

  .w-left {
    height: max-content;
    margin-bottom: 25rem;
  }

  .c-right {
    top: 30rem !important;
    position: absolute;
    
  }

  .c-email {
    font-size: 2.8rem;
    color: white !important;
  }

  .f-icons > a, .left span:nth-last-of-type(1)  {
    color: white ;
  }
}

/* md */
@media (max-width: 768px) {
  .c-email {
    font-size: 2.7rem;
  }
}

/* sm */
@media (max-width: 640px) {
  .contact-form {
    padding-bottom: 11rem !important;
  }

  .c-email {
    font-size: 2.1rem;
  }

  .contact1, .contact2 {
    font-size: 2.3rem !important;
  }

  .user {
    font-size: 1.1rem !important;
    width: max(18rem);
    height: 1.8rem;
  }

  .textarea {
    height: 4rem ;
  }

  .blur7 {
    position: fixed;
    width: 34rem !important;
    height: 26rem !important;
    border-radius: 50%;
    background: var(--pink);
    filter: blur(650px) !important;
    top: -25rem !important;
    right: -10rem !important;
    z-index: -9 !important;
  }
  
  .blur8 {
    position: fixed;
    width: 32rem !important;
    height: 24rem !important;
    border-radius: 50%;
    background: var(--blue);
    filter: blur(650px) !important;
    top: 0rem !important;
    left: -10rem !important;
    z-index: -10;
  }
}

/* xs */
@media (max-width: 475px) {

  .c-email {
    font-size: 1.8rem;
  }

  .contact1, .contact2 {
    font-size: 2rem !important;
  }

  .user {
    font-size: 1rem !important;
    width: max(15rem);
    height: 1.5rem;
  }

  .textarea {
    height: 4rem !important;
  }
}