.n-wrapper{
  height: 6rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  padding: 0 5rem;
}

li:hover {
  color: var(--blue);
}

.n-left{
  flex: 1;
  align-items: center;
  display: flex;
  gap: 2rem;
}

.n-name{
  font-size: 1.7rem;
  font-weight: bold;
  cursor: pointer;
}

.n-name:hover {
  color: #57c3f5;
}

.n-right{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

.n-list > ul {
  display: flex;
  gap: 4rem;
  margin-right: 4rem;
  cursor: pointer;
}

.n-list > ul > .Link:hover{
  color: #57c3f5;
}

.bounce1:hover {
  animation: bounce1 0.8s;
}

@keyframes bounce1 {
  0%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-15px);
  }

  60% {
    transform: translateY(-15px);
  }
}

/* lg */
@media (max-width: 1024px) {
  .n-wrapper {
    font-size: 1.2rem;
  }

  .n-name {
    font-size: 1.2rem;
  }
}

/* md */
@media (max-width: 768px) {
  .n-wrapper {
    flex-direction: column;
    padding: 1rem 0;
    align-items: center;
    justify-content: center;
  }
}

/* sm */
@media (max-width: 640px) {
  .n-wrapper {
    font-size: 1.1rem;
  }

  .n-name {
    font-size: 1.1rem;
  }

  .n-right {
    margin-left: -2.2rem ;
  }

  .n-button {
    margin-left: -1.8rem !important;
    font-size: 0.9rem !important;
  }
}

/* xs */
@media (max-width: 475px) {
  .n-wrapper {
    font-size: 0.8rem;
  }

  .n-button {
    font-size: 0.7rem !important;
  }
}