.intro {
  display: flex;
  padding: 20rem 0 10rem 0;
  position: relative;
}

.i-left {
  display: flex;
  flex: 1;
  z-index: 1;
}

.i-name {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.introText {
  color: #000;
  font-weight: 400;
  font-size: 3rem;
  width: fit-content;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes typing {
  0% {
    width: 0ch;
  }

  100% {
    width: 11ch;
  }
}

@keyframes blink {
  0% {
    border-right: 3px solid transparent;
  }

  100% {
    border-right: 3px solid var(--black);
  }
}

.introName {
  color: #039BE5;
  font-size: 3.5rem;
  font-weight: normal;
  max-width: min-content;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(11, end) forwards, blink 0.7s infinite alternate;
  letter-spacing: .05rem;
}

.introName:hover {
  animation: typing 2s steps(11, end) forwards, blink 0.7s infinite alternate;
}

h1 {
  font-weight: 400;
  font-size: 1.5rem;
  color: rgb(30, 30, 30);
  max-width: 50ch;
}

.downloadCv {
  max-width: fit-content;
}

.i-icons {
  max-width: fit-content;
  margin-top: 2rem;
  display: flex;
}

.github, .linkedin {
  color: var(--blue);
  margin: .7rem 1.2rem 0 1.4rem;
  transform: scale(1.7);
}

.github:hover, .linkedin:hover {
  transform: scale(2);
  color: white;
}

.i-right {
  flex: 1;
  position: relative;
}

.i-right > * {
  position: absolute;
  z-index: 1;
  font-size: 1.5rem;
}

.floating-div1 {
  right: 14rem;
  animation: slideIn1 1.5s forwards;
  transition: 1s ease forwards;
}

@keyframes slideIn1 {
  0% {
    top: 2rem;
  }

  80% {
    top: 11rem;
  }

  100% {
    top: 8rem;
  }
}

.floating-div2 {
  top: 17rem;
  animation: slideIn2 1.5s forwards;
}

@keyframes slideIn2 {
  0% {
    right: -1rem;
  }

  80% {
    right: 6rem;
  }

  100% {
    right: 4rem;
  }
}

.floating-div3 {
  right: 20rem;
  animation: slideIn3 1.5s forwards;
}

@keyframes slideIn3 {
  0% {
    top: 33rem;
  }

  80% {
    top: 23rem;
  }

  100% {
    top: 26rem;
  }
}

.blur3 {
  position: fixed;
  width: 45rem;
  height: 40rem;
  border-radius: 50%;
  background: var(--pink);
  filter: blur(400px);
  top: 10rem;
  right: 65rem;
  z-index: -10;
}

.blur4 {
  position: fixed;
  width: 45rem;
  height: 40rem;
  border-radius: 50%;
  background: var(--blue);
  filter: blur(400px);
  top: 5rem;
  right: -10rem;
  z-index: -10;
}

/* 2xl */
@media (max-width: 1536px) {
  .floating-div1 {
    right: 10rem;
  }
  
  .floating-div2 {
    top: 18rem;
  }
  
  @keyframes slideIn2 {
    0% {
      right: 2rem;
    }
  
    80% {
      right: 10rem;
    }
  
    100% {
      right: 9rem;
    }
  }
  
  .floating-div3 {
    right: 11rem;
  }
  
  @keyframes slideIn3 {
    0% {
      top: 34rem;
    }
  
    80% {
      top: 24rem;
    }
  
    100% {
      top: 27rem;
    }
  }
}

/* xl */
@media (max-width: 1280px) {

  .floating-div1 {
    right: 6rem;
  }
  
  .floating-div2 {
    top: 18rem;
  }
  
  @keyframes slideIn2 {
    0% {
      right: -2rem;
    }
  
    80% {
      right: 5rem;
    }
  
    100% {
      right: 5rem;
    }
  }
  
  .floating-div3 {
    right: 7rem;
  }
  
  @keyframes slideIn3 {
    0% {
      top: 34rem;
    }
  
    80% {
      top: 24rem;
    }
  
    100% {
      top: 27rem;
    }
  }
}

/* lg */
@media (max-width: 1024px) {
  .intro {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30rem !important;
  }

  .i-right > * {
    font-size: 1.2rem;
  }

  .floating-div1 {
    right: -7.5rem;
  }
  
  @keyframes slideIn1 {
    0% {
      top: -2rem;
    }
  
    80% {
      top: 6rem;
    }
  
    100% {
      top: 4rem;
    }
  }
  
  .floating-div2 {
    top: 12rem;
  }
  
  @keyframes slideIn2 {
    0% {
      right: -4rem;
    }
  
    80% {
      right: -9rem;
    }
  
    100% {
      right: -7rem;
    }
  }
  
  .floating-div3 {
    right: -7rem;
    width: max-content;
  }
  
  @keyframes slideIn3 {
    0% {
      top: 25rem;
    }
  
    80% {
      top: 18rem;
    }
  
    100% {
      top: 20rem;
    }
  }
}

/* md */
@media (max-width: 768px) {
  .intro {
    padding: 10rem 0 30rem 0 !important;
  }

  .i-name > :nth-child(1),   .i-name > :nth-child(2) {
    font-size: 2.9rem;
  }

  .i-name > :nth-child(1), .i-name > :nth-child(3)  {
    color: white;
  }
}

/* sm */
@media (max-width: 640px) {
  .intro {
    padding-bottom: 25rem !important;
  }

  .i-name > :nth-child(1),   .i-name > :nth-child(2) {
    font-size: 2.8rem;
  }

  .i-name > :nth-child(1), .i-name > :nth-child(3)  {
    color: white;
  }

  .blur3 {
    position: fixed;
    width: 24rem !important;
    height: 18rem !important;
    border-radius: 50%;
    background: var(--pink);
    filter: blur(500px) !important;
    top: -65rem !important;
    right: -15rem !important;
    z-index: -10 !important;
  }
  
  .blur4 {
    position: fixed;
    width: 24rem !important;
    height: 20rem;
    border-radius: 50%;
    background: var(--blue);
    filter: blur(500px) !important;
    top: -35rem !important;
    right: -20rem !important;
    z-index: -10 !important;
  }

  .i-right > * {
    font-size: 1.1rem;
  }
}

/* xs */
@media (max-width: 475px) {

  .introText {
    font-size: 2.2rem !important;
  }

  .introName {
    font-size: 2.3rem !important;
  }

  .i-name > :nth-child(1), .i-name > :nth-child(3)  {
    color: white !important;
  }

  .ParallaxText1 {
    font-size: 1.2rem !important;
  }
  
  .floating-div1, .floating-div2, .floating-div3 {
    transform: scale(0.9);
  }
}