.toggle {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0.2rem;
  cursor: pointer;
  border: 0.1rem solid var(--blue);
  border-radius: 1rem;
}

 .toggle > * {
  width: 1rem;
  height: 1rem;
  color: var(--blue);
 }

 .t-button {
  border-radius: 100%;
  background: var(--blue);
  position: absolute;
 }
